.vscode/IncomingWebServiceImpl/IncomingWebService.xml

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.-->
<!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.-->
<definitions targetNamespace="http://host.wm6.swisslog.com/" name="IncomingWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://host.wm6.swisslog.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema>
         <xsd:import namespace="http://host.wm6.swisslog.com/" schemaLocation="http://10.10.100.56:16384/IncomingWebServiceImpl/IncomingWebService?xsd=1"/>
      </xsd:schema>
   </types>
   <message name="processMessage">
      <part name="parameters" element="tns:processMessage"/>
   </message>
   <message name="processMessageResponse">
      <part name="parameters" element="tns:processMessageResponse"/>
   </message>
   <message name="mfnUpdate">
      <part name="parameters" element="tns:mfnUpdate"/>
   </message>
   <message name="mfnUpdateResponse">
      <part name="parameters" element="tns:mfnUpdateResponse"/>
   </message>
   <message name="pharmacyOrder">
      <part name="parameters" element="tns:pharmacyOrder"/>
   </message>
   <message name="pharmacyOrderResponse">
      <part name="parameters" element="tns:pharmacyOrderResponse"/>
   </message>
   <message name="testMessage">
      <part name="parameters" element="tns:testMessage"/>
   </message>
   <message name="testMessageResponse">
      <part name="parameters" element="tns:testMessageResponse"/>
   </message>
   <message name="loadUpdate">
      <part name="parameters" element="tns:loadUpdate"/>
   </message>
   <message name="loadUpdateResponse">
      <part name="parameters" element="tns:loadUpdateResponse"/>
   </message>
   <message name="pillPickLoadUpdate">
      <part name="parameters" element="tns:pillPickLoadUpdate"/>
   </message>
   <message name="pillPickLoadUpdateResponse">
      <part name="parameters" element="tns:pillPickLoadUpdateResponse"/>
   </message>
   <message name="processGenericTransferMessage">
      <part name="parameters" element="tns:processGenericTransferMessage"/>
   </message>
   <message name="processGenericTransferMessageResponse">
      <part name="parameters" element="tns:processGenericTransferMessageResponse"/>
   </message>
   <message name="dalMessageProcess">
      <part name="parameters" element="tns:dalMessageProcess"/>
   </message>
   <message name="dalMessageProcessResponse">
      <part name="parameters" element="tns:dalMessageProcessResponse"/>
   </message>
   <message name="inventoryUpdate">
      <part name="parameters" element="tns:inventoryUpdate"/>
   </message>
   <message name="inventoryUpdateResponse">
      <part name="parameters" element="tns:inventoryUpdateResponse"/>
   </message>
   <message name="dispenseUpdate">
      <part name="parameters" element="tns:dispenseUpdate"/>
   </message>
   <message name="dispenseUpdateResponse">
      <part name="parameters" element="tns:dispenseUpdateResponse"/>
   </message>
   <message name="supplierProductUpdate">
      <part name="parameters" element="tns:supplierProductUpdate"/>
   </message>
   <message name="supplierProductUpdateResponse">
      <part name="parameters" element="tns:supplierProductUpdateResponse"/>
   </message>
   <message name="parLevelUpdate">
      <part name="parameters" element="tns:parLevelUpdate"/>
   </message>
   <message name="parLevelUpdateResponse">
      <part name="parameters" element="tns:parLevelUpdateResponse"/>
   </message>
   <message name="atpDispenseUpdate">
      <part name="parameters" element="tns:atpDispenseUpdate"/>
   </message>
   <message name="atpDispenseUpdateResponse">
      <part name="parameters" element="tns:atpDispenseUpdateResponse"/>
   </message>
   <message name="inventoryReconciliation">
      <part name="parameters" element="tns:inventoryReconciliation"/>
   </message>
   <message name="inventoryReconciliationResponse">
      <part name="parameters" element="tns:inventoryReconciliationResponse"/>
   </message>
   <message name="replenishmentRequest">
      <part name="parameters" element="tns:replenishmentRequest"/>
   </message>
   <message name="replenishmentRequestResponse">
      <part name="parameters" element="tns:replenishmentRequestResponse"/>
   </message>
   <message name="genericProductUpdate">
      <part name="parameters" element="tns:genericProductUpdate"/>
   </message>
   <message name="genericProductUpdateResponse">
      <part name="parameters" element="tns:genericProductUpdateResponse"/>
   </message>
   <message name="pillPickDispenseUpdate">
      <part name="parameters" element="tns:pillPickDispenseUpdate"/>
   </message>
   <message name="pillPickDispenseUpdateResponse">
      <part name="parameters" element="tns:pillPickDispenseUpdateResponse"/>
   </message>
   <message name="atpGenericTransfer">
      <part name="parameters" element="tns:atpGenericTransfer"/>
   </message>
   <message name="atpGenericTransferResponse">
      <part name="parameters" element="tns:atpGenericTransferResponse"/>
   </message>
   <message name="manufacturerProductUpdate">
      <part name="parameters" element="tns:manufacturerProductUpdate"/>
   </message>
   <message name="manufacturerProductUpdateResponse">
      <part name="parameters" element="tns:manufacturerProductUpdateResponse"/>
   </message>
   <message name="productAssignment">
      <part name="parameters" element="tns:productAssignment"/>
   </message>
   <message name="productAssignmentResponse">
      <part name="parameters" element="tns:productAssignmentResponse"/>
   </message>
   <message name="processPurchaseOrderAcknowledgement">
      <part name="parameters" element="tns:processPurchaseOrderAcknowledgement"/>
   </message>
   <message name="processPurchaseOrderAcknowledgementResponse">
      <part name="parameters" element="tns:processPurchaseOrderAcknowledgementResponse"/>
   </message>
   <portType name="IncomingWebService">
      <operation name="processMessage">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processMessageRequest" message="tns:processMessage"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processMessageResponse" message="tns:processMessageResponse"/>
      </operation>
      <operation name="mfnUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/mfnUpdateRequest" message="tns:mfnUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/mfnUpdateResponse" message="tns:mfnUpdateResponse"/>
      </operation>
      <operation name="pharmacyOrder">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pharmacyOrderRequest" message="tns:pharmacyOrder"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pharmacyOrderResponse" message="tns:pharmacyOrderResponse"/>
      </operation>
      <operation name="testMessage">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/testMessageRequest" message="tns:testMessage"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/testMessageResponse" message="tns:testMessageResponse"/>
      </operation>
      <operation name="loadUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/loadUpdateRequest" message="tns:loadUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/loadUpdateResponse" message="tns:loadUpdateResponse"/>
      </operation>
      <operation name="pillPickLoadUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pillPickLoadUpdateRequest" message="tns:pillPickLoadUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pillPickLoadUpdateResponse" message="tns:pillPickLoadUpdateResponse"/>
      </operation>
      <operation name="processGenericTransferMessage">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processGenericTransferMessageRequest" message="tns:processGenericTransferMessage"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processGenericTransferMessageResponse" message="tns:processGenericTransferMessageResponse"/>
      </operation>
      <operation name="dalMessageProcess">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/dalMessageProcessRequest" message="tns:dalMessageProcess"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/dalMessageProcessResponse" message="tns:dalMessageProcessResponse"/>
      </operation>
      <operation name="inventoryUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/inventoryUpdateRequest" message="tns:inventoryUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/inventoryUpdateResponse" message="tns:inventoryUpdateResponse"/>
      </operation>
      <operation name="dispenseUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/dispenseUpdateRequest" message="tns:dispenseUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/dispenseUpdateResponse" message="tns:dispenseUpdateResponse"/>
      </operation>
      <operation name="supplierProductUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/supplierProductUpdateRequest" message="tns:supplierProductUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/supplierProductUpdateResponse" message="tns:supplierProductUpdateResponse"/>
      </operation>
      <operation name="parLevelUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/parLevelUpdateRequest" message="tns:parLevelUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/parLevelUpdateResponse" message="tns:parLevelUpdateResponse"/>
      </operation>
      <operation name="atpDispenseUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/atpDispenseUpdateRequest" message="tns:atpDispenseUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/atpDispenseUpdateResponse" message="tns:atpDispenseUpdateResponse"/>
      </operation>
      <operation name="inventoryReconciliation">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/inventoryReconciliationRequest" message="tns:inventoryReconciliation"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/inventoryReconciliationResponse" message="tns:inventoryReconciliationResponse"/>
      </operation>
      <operation name="replenishmentRequest">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/replenishmentRequestRequest" message="tns:replenishmentRequest"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/replenishmentRequestResponse" message="tns:replenishmentRequestResponse"/>
      </operation>
      <operation name="genericProductUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/genericProductUpdateRequest" message="tns:genericProductUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/genericProductUpdateResponse" message="tns:genericProductUpdateResponse"/>
      </operation>
      <operation name="pillPickDispenseUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pillPickDispenseUpdateRequest" message="tns:pillPickDispenseUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/pillPickDispenseUpdateResponse" message="tns:pillPickDispenseUpdateResponse"/>
      </operation>
      <operation name="atpGenericTransfer">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/atpGenericTransferRequest" message="tns:atpGenericTransfer"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/atpGenericTransferResponse" message="tns:atpGenericTransferResponse"/>
      </operation>
      <operation name="manufacturerProductUpdate">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/manufacturerProductUpdateRequest" message="tns:manufacturerProductUpdate"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/manufacturerProductUpdateResponse" message="tns:manufacturerProductUpdateResponse"/>
      </operation>
      <operation name="productAssignment">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/productAssignmentRequest" message="tns:productAssignment"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/productAssignmentResponse" message="tns:productAssignmentResponse"/>
      </operation>
      <operation name="processPurchaseOrderAcknowledgement">
         <input wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processPurchaseOrderAcknowledgementRequest" message="tns:processPurchaseOrderAcknowledgement"/>
         <output wsam:Action="http://host.wm6.swisslog.com/IncomingWebService/processPurchaseOrderAcknowledgementResponse" message="tns:processPurchaseOrderAcknowledgementResponse"/>
      </operation>
   </portType>
   <binding name="IncomingWebServicePortBinding" type="tns:IncomingWebService">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="processMessage">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="mfnUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="pharmacyOrder">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="testMessage">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="loadUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="pillPickLoadUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="processGenericTransferMessage">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="dalMessageProcess">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="inventoryUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="dispenseUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="supplierProductUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="parLevelUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="atpDispenseUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="inventoryReconciliation">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="replenishmentRequest">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="genericProductUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="pillPickDispenseUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="atpGenericTransfer">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="manufacturerProductUpdate">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="productAssignment">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
      <operation name="processPurchaseOrderAcknowledgement">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="IncomingWebService">
      <port name="IncomingWebServicePort" binding="tns:IncomingWebServicePortBinding">
         <soap:address location="http://10.10.100.56:16384/IncomingWebServiceImpl/IncomingWebService"/>
      </port>
   </service>
</definitions>